# Assignment #4

In this assignment we explore loading data and getting basic information from it. You may choose to complete this assignment in either _R_ or _Python_. Please designate your choice in the first box. 

__Make sure your kernel is selected for the language you choose.__

We will be using the county demographics data set on the server at _/shared/dsc495/county_demographics.csv_. 

You must complete the entire assignment in **1** language.

**Programming language:**

In [42]:
# import statments or library packages
import pandas as pd
import statistics as st
df = pd.read_csv("/shared/dsc495/county_demographics.csv")

***
# Section 1: Review

## Q1: Using knowledge from the class, describe the size and shape of the data

Provide your code in the first box, and a short description in the second.

In [2]:
df.describe()

,Age.Percent 65 and Older,Age.Percent Under 18 Years,Age.Percent Under 5 Years,Education.Bachelor's Degree or Higher,Education.High School or Higher,Employment.Nonemployer Establishments,Employment.Private Non-farm Employment,Employment.Private Non-farm Employment Percent Change,Employment.Private Non-farm Establishments,Ethnicities.American Indian and Alaska Native Alone,...,Sales.Merchant Wholesaler Sales,Sales.Retail Sales,Sales.Retail Sales per Capita,Employment.Firms.American Indian-Owned,Employment.Firms.Asian-Owned,Employment.Firms.Black-Owned,Employment.Firms.Hispanic-Owned,Employment.Firms.Native Hawaiian and Other Pacific Islander-Owned,Employment.Firms.Total,Employment.Firms.Women-Owned
count,3143.000000,3143.000000,3143.000000,3143.000000,3143.000000,3143.000000,3.143000e+03,3143.000000,3143.000000,3143.000000,...,3.143000e+03,3.143000e+03,3143.000000,3143.000000,3143.000000,3143.000000,3143.000000,3143.000000,3.143000e+03,3143.000000
mean,17.570379,22.539325,5.895291,19.762329,84.553548,7319.628381,3.663908e+04,0.672542,2376.880687,2.249061,...,1.210794e+04,1.245353e+04,10236.157175,0.590169,0.800223,2.392969,1.690232,0.015972,8.780569e+03,17.950652
std,4.450029,3.436701,1.218243,8.827307,6.911545,28184.062518,1.354002e+05,5.915687,8173.244966,7.598386,...,7.297391e+04,4.136397e+04,5434.069482,3.813300,2.541715,6.885058,6.225769,0.348690,3.155006e+04,12.852328
min,0.000000,0.000000,0.000000,3.200000,45.000000,0.000000,0.000000e+00,-71.500000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,14.800000,20.500000,5.200000,13.700000,80.200000,736.000000,2.108000e+03,-1.800000,221.000000,0.300000,...,0.000000e+00,7.595000e+02,6852.500000,0.000000,0.000000,0.000000,0.000000,0.000000,9.025000e+02,0.000000
50%,17.300000,22.500000,5.800000,17.600000,85.900000,1636.000000,6.340000e+03,0.700000,539.000000,0.600000,...,4.420000e+02,2.471000e+03,9728.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.155000e+03,23.200000
75%,19.900000,24.200000,6.500000,23.500000,89.800000,4232.000000,1.971800e+04,3.000000,1445.500000,1.250000,...,2.490500e+03,7.662000e+03,12934.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.641500e+03,27.800000
max,52.900000,42.000000,13.700000,74.400000,99.000000,945941.000000,3.799831e+06,110.800000,253227.000000,92.200000,...,2.054787e+06,1.191118e+06,80800.000000,71.800000,56.600000,66.700000,78.000000,10.500000,1.046940e+06,56.200000

**Description:**

## Q2: Filter the data to only rows from NC. Save this as a new data frame

In [4]:
dfnc=df[df['State']=="NC"]

For this next question you will need the column `Education Bachelor's Degree or Higher`. You may find it beneficial to index by the column number rather than name for this question. We can do this using `.iloc`. 

For example, to get the 3rd row and 4th column of a data frame, df, we would use
 
`df.iloc[3,4]`. 

If we want to get all rows, or all columns, we can use colons `:` such as

`df.iloc[3,:]`

which will return the third row. 

## Q3: In NC, find the county with the highest percentage of individuals with a bachelor's. Find the couty with the lowest percentage of individuals with a bachelor's.

In [52]:
dfnce = dfnc[["County","Education.Bachelor's Degree or Higher"]]

dfnce.iloc[:,1].nlargest(1)
print (dfnce[dfnce["Education.Bachelor's Degree or Higher"]== 55.8])
dfnce.iloc[:,1].nsmallest(1)
print(dfnce[dfnce["Education.Bachelor's Degree or Higher"]== 8.4])

             County  Education.Bachelor's Degree or Higher
1957  Orange County                                   55.8
              County  Education.Bachelor's Degree or Higher
1978  Tyrrell County                                    8.4

## Q4: How many counties in NC have a percentage of individuals with a bachelor's degree or higher above the national median?

In [16]:
print(len(dfnce[dfnce["Education.Bachelor's Degree or Higher"]>= 19.762329]))

36

## Q4: What percentage of counties in NC have a percentage of individuals with a bachelor's degree or higher above the national median?

In [25]:
number = len(dfnce[dfnce["Education.Bachelor's Degree or Higher"]>= 19.762329])/len(dfnce)
print (number*100,'%')

36.0 %

***

# Section 2 - Outliers:

All questions are based on `Education Bachelor's Degree or Higher`. 

In this section we will find outliers using two different methods. The first will use the IQR; the second will use z-scores. 

Recall: 

An observation may be an outlier if the observation falls below $Q1 - 1.5 \times IQR$ or above $Q3 + 1.5 \times IQR$
where the IQR is $Q3 - Q1$.

## Q1: Find the first and third quartile of the column `Education Bachelor's Degree or Higher` across the entire US.

In [35]:
dfnce.quantile([.25,.75])
q3=21.95
q1=13.325
iqr=q3-q1
print("Q1:",q1,"Q3:",q3)

Q1: 13.325 Q3: 34.8875

## Q2: Calculate the cutoffs for outliers using the IQR formula.

In [36]:
print(q1-1.5*iqr, "and", q3+1.5*iqr)

0.3874999999999993 and 34.8875

## Q3. Find the number of outliers based on the IQR formula.

In [41]:
len(dfnce[dfnce["Education.Bachelor's Degree or Higher"]>= 34.8875]) + len(dfnce[dfnce["Education.Bachelor's Degree or Higher"]<= .3874])

7

## Q4: Find the mean and standard deviation.

In [54]:
print( "Mean:", dfnce.iloc[:,1].mean())
print( "SDev:", st.stdev(dfnce["Education.Bachelor's Degree or Higher"]))

Mean: 19.637999999999998
SDev: 8.842114331910997

## Q5: Calculate the z-scores for all of the counties.

In [48]:
dfnce.describe()

       Education.Bachelor's Degree or Higher
count                             100.000000
mean                               19.638000
std                                 8.842114
min                                 8.400000
25%                                13.325000
50%                                17.900000
75%                                21.950000
max                                55.800000

## Q6: Verify the z-scores found in Q5 have mean 0 and variance 1.

## Q7: Find the number of outliers based on exceeding z-scores of -3 or +3.

## Q8: Describe your results about the outlier

**Response:**