In [2]:
# import the module os so we can use functions from it
import os
# list the contents of the directory '/shared/dsc495'
os.listdir('/shared/dsc495')

['classics.data',
 'CollegeScorecard_Raw_Data.zip',
 'video_games.csv',
 'classics.py',
 'CollegeData']

In [4]:
import pandas as pd
df = pd.read_csv("/shared/dsc495/video_games.csv")

In [5]:
df.head()

,Console,Title,US Sales (millions),Block4,Block2,Block1,Block0.5,YearReleased,2004,2005,...,Tricks,Volleyball,Wakeboarding,Wrestling,FirstPerson,Platform,Isometric,SideScrolling,TopDown,ThirdPerson
0,Nintendo DS,Super Mario 64 DS,4.69,1,1,1,1,2004,1,0,...,0,0,0,0,0,1,0,0,0,1
1,Sony PSP,Lumines: Puzzle Fusion,0.56,0,0,0,1,2004,1,0,...,0,0,0,0,0,0,0,0,0,0
2,Nintendo DS,WarioWare Touched!,0.54,0,0,0,1,2004,1,0,...,0,0,0,0,0,1,1,1,1,1
3,Sony PSP,Hot Shots Golf: Open Tee,0.49,0,0,0,0,2004,1,0,...,0,0,0,0,0,0,0,0,0,1
4,Nintendo DS,Spider-Man 2,0.45,0,0,0,0,2004,1,0,...,0,0,0,0,0,1,0,1,0,1

In [4]:
df.tail()

,Console,Title,US Sales (millions),Block4,Block2,Block1,Block0.5,YearReleased,2004,2005,...,Tricks,Volleyball,Wakeboarding,Wrestling,FirstPerson,Platform,Isometric,SideScrolling,TopDown,ThirdPerson
1765,PlayStation 3,MotoGP 09/10,0.04,0,0,0,0,2010,0,0,...,0,0,0,0,1,0,0,0,0,1
1766,PlayStation 3,Prison Break: The Conspiracy,0.04,0,0,0,0,2010,0,0,...,0,0,0,0,0,0,0,0,0,1
1767,Nintendo Wii,"Sakura Wars: So Long, My Love",0.04,0,0,0,0,2010,0,0,...,0,0,0,0,0,0,0,0,0,1
1768,X360,Record of Agarest War (The Really Naughty Limi...,0.04,0,0,0,0,2010,0,0,...,0,0,0,0,0,0,1,0,0,0
1769,Sony PSP,Metal Slug XX,0.02,0,0,0,0,2010,0,0,...,0,0,0,0,0,0,0,1,0,1

In [5]:
df.shape

(1770, 166)

In [3]:
df.columns

Index(['Console', 'Title', 'US Sales (millions)', 'Block4', 'Block2', 'Block1',
       'Block0.5', 'YearReleased', '2004', '2005',
       ...
       'Tricks', 'Volleyball', 'Wakeboarding', 'Wrestling', 'FirstPerson',
       'Platform', 'Isometric', 'SideScrolling', 'TopDown', 'ThirdPerson'],
      dtype='object', length=166)

In [4]:
df.YearReleased

0       2004
1       2004
2       2004
3       2004
4       2004
        ...
1765    2010
1766    2010
1767    2010
1768    2010
1769    2010
Name: YearReleased, Length: 1770, dtype: int64

In [11]:
df.YearReleased.unique()

array([2004, 2005, 2006, 2007, 2008, 2009, 2010])

In [10]:
df.YearReleased.value_counts()

2007    465
2008    444
2009    321
2006    294
2005    150
2010     73
2004     23
Name: YearReleased, dtype: int64

In [12]:
#Q5 unique gives us all of the possible release years in the data and value_counts counts the number of times they appear

In [8]:
#Q1 849.22 million is the sum
#Q2 med or median, average

In [29]:
df['US Sales (millions)'].mean()
#3

0.47978531073446323

In [28]:
df['US Sales (millions)'].median()
#3

0.19

In [27]:
df['US Sales (millions)'].var()
#4

1.1340433682408588

In [45]:
print("Mean: ", df.Usedprice.mean())
print("Median: ", df.Usedprice.median())
print("Variance: ", df.Usedprice.var())

Mean:  19.510451977401125
Median:  17.95
Variance:  62.05541641516003

In [54]:
x = df[['US Sales (millions)','Usedprice']]
print(x)

      US Sales (millions)  Usedprice
0                    4.69      24.95
1                    0.56      14.95
2                    0.54      22.95
3                    0.49      12.95
4                    0.45      14.95
...                   ...        ...
1765                 0.04      39.95
1766                 0.04      32.95
1767                 0.04      24.95
1768                 0.04      49.95
1769                 0.02      16.95

[1770 rows x 2 columns]

In [55]:
x.corr()
# There is a positive correlation between Used price and US sales. The closer the value is to 1 the stronger the correlation between the variables.

                     US Sales (millions)  Usedprice
US Sales (millions)             1.000000   0.211199
Usedprice                       0.211199   1.000000